html, body {
  margin: 0;
  width: 100%;
}
.tovary {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.tovar {
  transition: all 0.4s ease-in-out;
  border: solid 5px red;
  box-shadow: 10px 10px 6px 8px rgba(34, 60, 80, 0.5);
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 2fr 1fr 0.5fr;
  background: rgb(0, 182, 217);
  height: 400px;
  width: 250px;
  border-radius: 20px;
  animation-name: rgb;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes rgb {
  0%{background-color: rgb(0, 182, 217);}
  50%{background-color: rgb(0, 214, 255);}
  100%{background-color: rgb(0, 182, 217);}

}
.tovar:hover {
  transition: all 0.4 ease-in-out;
  transform: scale(1.1);
}
.div_texts_tovar {
  text-align: center;
  display: flex;
  justify-content: center;
}
.picture_tovar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: solid 3px red;
  grid-column: span 2;
  background: url("../img/phone.jpg") no-repeat center top;
  background-size: cover;
}
.name_tovar {
font-size: 30px;
display: flex;
align-content: center;
}
.div_cost_tovar {
  border-left: solid 3px red;
}
.cost_tovar {
font-size: 30px;
}
.div_buy {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(108, 65, 255);
  grid-column: span 2;
  font-size: 30px;
}
.buy {
  text-align: center;
  color: white;
  transition: all 1s ease-in-out;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.buy:hover {
  transition: all 1s ease-in-out;
  color: rgb(30, 255, 0);
  background-color: blue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
