html, body {
  margin: 0;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 90%;
  margin-left: 5%;
  background: blue;
  border-radius: 20px;
}
.tovar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 0.5fr;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.div_texts_tovar {
  display: flex;
  justify-content: center;
}
.picture_tovar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  grid-column: span 2;
  background: url("../img/phone.jpg") no-repeat center top;
  background-size: contain;
}
.name_tovar {
font-size: 30px;
display: flex;
align-content: center;
}
.cost_tovar {
font-size: 30px;
}
.div_buy {
  border-radius: 20px;
  margin-left: 5%;
  width: 90%;
  background: blue;
  grid-column: span 2;
  font-size: 30px;
}
.buy {
  color: white;
}
.reviews {
  display: flex;
  flex-direction: column;
}
